@media (max-width: 768px) {

  /* ----- SECTION TWO ----- */

  #section-two {
    padding: 50px 0;
  }

  #section-three .content-right {
    margin-top: 90px;
  }

  #section-three .content-right img {
    height: 400px;
  }

  #section-three {
    padding: 50px 0;
  }

  #section-four {
    padding: 50px 0;
  }

  #section-four .content-sec-four {
    flex-direction: column-reverse;
  }

  #section-four .content-left {
    margin-top: 70px;
  }

  #section-four .content-left img {
    height: 370px;
  }

  #section-five {
    padding: 50px 0;
  }

  #section-six .content-right {
    margin-top: 60px;
  }

  footer .content-footer {
    flex-direction: column;
    justify-content: center;
  }

  footer .col-lg-4 {
    flex: 0 0 auto;
    width: 44.333333%;
  }

  footer .logo-footer img {
    width: 200px;
}
}

@media (max-width: 425px){
  #section-one .text-slide h2 {
    font-size: 40px;
}

#section-one .text-slide p {
  font-size: 16px;
  width: 300px;
}

#section-one .swiper-button-next:after {
  font-size: 25px !important;
}

#section-one .swiper-button-prev:after {
  font-size: 25px !important;
}

#section-one .btn-contact-us a {
  background-color: var(--first-color);
  color: var(--black);
  text-decoration: none;
  padding: 10px 15px;
  transition: 0.4s;
}
}
